$screen-xxl: 1600px;
$screen-xl: 1300px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 576px;

$screen-xxl-1: 1599px;
$screen-xl-1: 1299px;
$screen-lg-1: 1199px;
$screen-md-1: 991px;
$screen-sm-1: 767px;
$screen-xs-1: 575px;

$main-green-1: #3ADE86;
$main-green-2: #32b060;
$main-green-3: #00c75b;
